:root {
    --greyapp: #eaeaea;
    --greyicon: #b1b1b1;
    --alertn: #8edafc;
}



body {
    display: flex;
    font-family: 'Lato', sans-serif;
    background-image: linear-gradient(to bottom, #009688 0px, #009688 15vh, #dddbd1 15vh, #d2dbdc 100%);
    width: 100%;
    height: 100vh;

}

#app {
    margin: 0 auto;
    width: 1400px;
    margin-top: 20px;
    height: 95vh;
}

.text-lightgrey {
    color: #c5c8cd;
}

.top-bar {
    background-color: var(--greyapp);
    height: 82px;
}

.alert-ntf {
    background-color: var(--alertn);
    height: 98px;
}

.ntf-text {
    line-height: 19px;
}

.bell {

    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    color: var(--alertn)
}

.search {
    background-color: #fafafa;
    height: 49px;
}

#my-search {
    background-color: white;
    color: grey;
    padding: 0.3rem 1.75rem;
}

#my-search i {
    padding: 0;
}

#my-input {
    padding: 0.225rem .75rem;
}

.left {
    width: 40%;
    background-color: white;
    height: 100%;


}

.controls-icon i {
    color: var(--greyicon);
}


.right {
    width: 60%;
    height: 100%;
}

.boxChat {
    width: 100%;
    height: 100%;
    display: none;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.c-avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.contact-info {
    line-height: 10px;
}

.cnt-contact {
    border-bottom: 1px solid #f1f2f5d3;
    cursor: pointer;
}

.cnt-contact:hover,
.cnt-contact.active {
    background-color: #e9ebeb;
}

.contacts div:last-child {
    border-bottom: none;
}

.contacts {
    overflow-y: auto;
    height: calc(100% - (229px));
}

.ui-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.left .top-bar {
    border-right: 1px solid #d6d6d6;

}

.chatbox {
    height: calc(100% - 82px - 85px);
    overflow-y: scroll;
    background-image: url("../img/mine.jpg");
}

.messages {
    width: 90%;
    margin: 0 auto;
}

.arrow-msg {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 10px;
    cursor: pointer;
}

.msg-dropdown {
    width: 130px;
    height: 80px;
    position: absolute;
    right: -30px;
    top: 20px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    z-index: 1000;
    display: none !important;
}


.msg-dropdown button {
    padding: 5px !important;
}

.msgshow {
    display: flex !important;
}

.msg-dropdown button:hover {
    background-color: rgb(204, 204, 204);
}

.msg {
    margin-top: 20px;
    margin-bottom: 5px;
    width: fit-content;
    height: fit-content;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 80px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    position: relative;
}

.time-msg {
    position: absolute;
    bottom: 3px;
    right: 10px;
    font-size: 11px;
}

.sended {
    align-self: flex-end;
    background-color: #d5f9ba;
}

.received {
    align-self: flex-start;
    background-color: white;
}

.sendmsg-ui {
    height: 85px;
    background-color: #f3eeea;
}

.input-send {
    width: 90%;
    padding-left: 30px;
    padding-right: 30px;
}

.sendmsg-ui input {
    width: 100%;
    height: 50px;
    padding-left: 20px;
    border-radius: 8px;
    border: none;

}

/* RESET */
.controls-icon button {
    cursor: pointer;
    background-color: transparent;
    border-width: 0;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    line-height: inherit;
    padding: 0;
}

.active {
    display: block;
}

::-webkit-scrollbar {
    width: 5px
}

::-webkit-scrollbar-track {
    background: #cccccc;
    border-radius: 0px
}

::-webkit-scrollbar-thumb {
    background: #106b0a;
    border-radius: 0px
}

@media screen and (max-width:)