:root {
    --greyapp: #eaeaea;
    --greyicon: #b1b1b1;
    --alertn: #8edafc;
}



body {
    display: flex;
    font-family: 'Lato', sans-serif;
    width: 100%;
    height: 95dvh;  /* dvh al posto della soluzione con JS */
    

}

.home {
    width: 100%;
    height: 100%;
    background-color: #f0f2f5;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

#app {
    margin: 0 auto;
    width: 1400px;
    margin-top: 20px;
    height: 95%;
}

.text-lightgrey {
    color: #c5c8cd;
}

.top-bar {
    background-color: var(--greyapp);
    height: 82px;
}

.alert-ntf {
    background-color: var(--alertn);
    height: 98px;
}

.ntf-text {
    line-height: 19px;
}

.bell {

    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    color: var(--alertn)
}

.search {
    background-color: #fafafa;
    height: 49px;
}

#my-search {
    background-color: white;
    color: grey;
    padding: 0.3rem 1.75rem;
}

#my-search i {
    padding: 0;
}

#my-input {
    padding: 0.225rem .75rem;
}

.left {
    width: 40%;
    background-color: white;
    height: 100%;


}

.controls-icon i {
    color: var(--greyicon);
}


.right {
    width: 60%;
    height: 100%;
}

.boxChat {
    width: 100%;
    height: 100%;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.c-avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.contact-info {
    line-height: 10px;
}

.cnt-contact {
    border-bottom: 1px solid #f1f2f5d3;
    cursor: pointer;
}

.cnt-contact:hover,
.cnt-contact.active {
    background-color: #e9ebeb !important;
    color:black;
}

.contacts div:last-child {
    border-bottom: none;
}

.contacts {
    overflow-y: auto;
    height: calc(100% - (229px));
    background-color: white;
}

.ui-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.left .top-bar {
    border-right: 1px solid #d6d6d6;

}

.chatbox {
    height: calc(100% - 82px - 85px);
    overflow-y: scroll;
    background-image: url("../img/mine.jpg");
}

.messages {
    width: 90%;
    margin: 0 auto;
}

.arrow-msg {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 10px;
    cursor: pointer;
}

.msg-dropdown {
    width: 150px;
    height: 80px;
    position: absolute;
    right: -20px;
    top: 20px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    z-index: 1000;
    display: none !important;
}

.msg-dropdown.usercontrol {
    width: fit-content;
    height: fit-content;
    font-size:1rem;
}

.msg-dropdown button {
    padding: 5px !important;
}

.msgshow {
    display: flex !important;
}

.msg-dropdown button:hover {
    background-color: rgb(204, 204, 204);
}

.backtocontacts {
    width: 30px;
    height: 30px;
    top:0;
    left:30px;
    border:5px solid grey;
    border-radius:50%;
    padding:20px;
    background-color: black;
    cursor:pointer;
}

.msg {
    margin-top: 20px;
    margin-bottom: 5px;
    width: fit-content;
    height: fit-content;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 80px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    position: relative;
}

.time-msg {
    position: absolute;
    bottom: 3px;
    right: 10px;
    font-size: 11px;
}

.imageSelected {
    border:5px solid green;
}

.sended {
    align-self: flex-end;
    background-color: #d5f9ba;
}

.received {
    align-self: flex-start;
    background-color: white;
}

.sendmsg-ui {
    height: 85px;
    background-color: #f3eeea;
}

.input-send {
    width: 90%;
    padding-left: 30px;
    padding-right: 30px;
}

.sendmsg-ui input {
    width: 100%;
    height: 50px;
    padding-left: 20px;
    border-radius: 8px;
    border: none;

}

.chatback {
    display: none;
}

/* RESET */
.controls-icon button,
.contact-picture button {
    cursor: pointer;
    background-color: transparent;
    border-width: 0;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    line-height: inherit;
    padding: 0;
}

.time {
    line-height: 0px;
}

.active {
    display: block;
}

/* DARK MODE */

.darktheme {
    background-color: #111b21;
    color:white;
    
}

.borderleft {
    border-left: 1px solid #d6d6d6;
}

.darkimg {
    background-image: url('../img/mineblack.jpg') !important;
}

.darkselection.msg-dropdown {
    width: fit-content;
    height: fit-content;
    margin:0 auto;
}

.bgblack {
    background-color: #233946;
}

.bgdefault {
    background-image: linear-gradient(to bottom, #009688 0px, #009688 15vh, #dddbd1 15vh, #d2dbdc 100%);
}

/* EXTRA */

::-webkit-scrollbar {
    width: 5px
}

::-webkit-scrollbar-track {
    background: #cccccc;
    border-radius: 0px
}

::-webkit-scrollbar-thumb {
    background: #106b0a;
    border-radius: 0px
}

.emoji-picker__emojis {
    overflow-x: hidden;
}

.emoji-picker__preview {
    display: none !important;
}

/* MEDIA QUERIES */

@media screen and (max-width:865px) {
    .left {
        width: 50%;
    }

    .right {
        width: 50%;
    }
}

@media screen and (max-width:684px) {
    #app {
        width: 100%;
        height: 100%;
        margin: 0;
    }

    body {
        height: 100dvh;
    }


    .left {
        width: 100%;
    }

    .right {
        width: 100%;
    }

    .mobilenone {
        display: none;
    }

    .chatback {
        display: inline-block;
    }

    .container {
        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: 0;
        margin-left: 0;
        max-width: unset;
    }

    .cnt-contact.active {
        background-color: white;
        /* Non serve sulla versione mobile */
    }
}

